<% @user ||= current_user %>
<div class="stats d-flex border-top border-bottom py-2 my-3">
  <a href="<%= following_user_path(@user) %>" class="flex-fill text-center text-decoration-none border-end">
    <strong id="following" class="stat d-block fs-5 text-dark">
      <%= @user.following.count %>
    </strong>
    <span class="text-muted small">following</span>
  </a>
  <a href="<%= followers_user_path(@user) %>" class="flex-fill text-center text-decoration-none">
    <strong id="followers" class="stat d-block fs-5 text-dark">
      <%= @user.followers.count %>
    </strong>
    <span class="text-muted small">followers</span>
  </a>
</div>
